design/
learn_model/models/
learn_model/packets/
learn_model/bert-base-uncased/
learn_model/learnlib_module/.idea/
learn_model/learnlib_module/result/
learn_model/learnlib_module/target/

#config/

apks/

analyse_app/temp_scan_result/

log/

.idea/

venv/